TZ=Europe/Madrid
# LLM provider configuration
OPENAI_API_KEY=
GEMINI_API_KEY=
LLM_PROVIDER=openai
## Fastest LLM, but more expensive. Use for best performance and if cost is not a concern.
#LLM_MODEL=gpt-5.4
## The most balanced model in terms of quality and cost. Use if speed is not a concern.
#LLM_MODEL=o3
## The model used by default: it provides a great balance with speed and quality
LLM_MODEL=gpt-5.4-mini
