# GitHub API Configuration
GITHUB_TOKEN=

# OCEL File Path (para MCP Server)
# Path of the OCEL file to be queried by the MCP server. The following order applies:
# 1. Parameter: --ocel-path (CLI)
# 2. Environment variable: OCEL_FILE
# 3. Default path: ./log.json
OCEL_FILE=./storage/github.ocel_v1.json

# MCP Server Configuration
MCP_DEBUG=false
MCP_LOG_LEVEL=INFO
