# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.ipynb_checkpoints

# --- Environment variables ---
.env*
!.env.example

# --- Data & Storage (ETL) ---
github2ocel/storage/*.json
github2ocel/storage/*.ocel
storage/
# Allow all .gitkeep files in any directory
!**/.gitkeep
*.db
personal/*

# --- IDEs y Editores ---

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.history/
github2ocel/logs/*.log
logs/

# PyCharm / IntelliJ
.idea/
*.iws
*.iml
*.ipr

# --- OS ---
.DS_Store
Thumbs.db*
