# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.ipynb_checkpoints

# --- Environment variables ---
.env*
!.env.example

# --- Data & Storage (ETL) ---
github2ocel/storage/*.json
github2ocel/storage/*.ocel
storage/
# Allow all .gitkeep files in any directory
!**/.gitkeep

github2ocel/logs/*.log
logs/
personal/
# PyCharm / IntelliJ
.idea/
*.iws
*.iml
*.ipr

# --- OS ---
.DS_Store
Thumbs.db*
