# OCEL File Path (para MCP Server)
# Path of the OCEL file to be queried by the MCP server. The following order applies:
# 1. Parameter: --ocel-path (CLI)
# 2. Environment variable: OCEL_FILE
# 3. Default path: ./log.json
OCEL_FILE=./storage/github.ocel_v1.json

# LOGGING CONFIGURATION
# Available levels: DEBUG, INFO, WARNING, ERROR, CRITICAL
# Use INFO for production, DEBUG for development/troubleshooting
LOG_LEVEL=INFO
 
# Where the log file will be stored
LOG_FILE=logs/mcp_server.log
